.header, .hero-container, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

img {
    width: 200px;
    height: 200px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

body {
    display: flex;
    flex-direction: column;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#hero-button {
    flex-shrink: 0;
    width: 100px;
    
}

button {
    border-radius: 8px;
}

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.footer {
    color:#E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button, .sign-up-container {
    background-color: #3882F6;
}

#middle-container-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    display: flex;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font: italic;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#main-image {
    max-width: 500px;
    max-height: auto;
    min-width: 100px;
    min-height: auto;
}
