.header, .hero-container, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

img {
    width: 200px;
    height: 200px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex: 1;
}

.header-hero-container{
    display: flex;
    flex-direction: column;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 20px;
}

.hero-text {
    display: flex;
    justify-content:baseline;
    flex-direction: column;
    width: 400px;
    flex-wrap: wrap;
}

button {
    border-radius: 8px;
    padding: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    flex-shrink: 0;
    width: 100px;
}

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.footer {
    color:#E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button, .sign-up-container {
    background-color: #3882F6;
}

#middle-container-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 40px;
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.img-container {
    display: flex;
    gap: 50px;
}

.img-text-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font: italic;
    display: flex;
    padding: 100px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote-text {
    width: 700px;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#main-image {
    width: 525px;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 8px;
    padding: 40px;
    margin: 75px 150px;
}

#call-to-action-button {
    border: 1px solid white;
}

#call-to-action-top-text, #call-to-action-bottom-text {
    color: white;
}

#call-to-action-top-text {
    font-size: 22px;
    font-weight: bold;
}

#thor {
    font-weight: bold;
    font-size: 22px;
    margin-left: 450px;
    margin-top: 10px;
}

p {
    margin: 0;
}